[Unit]
Description=run rxgv1
After=network.target

[Service]
LimitNOFILE=20000
ExecStart=/usr/bin/python3 /home/pi/rxgv1/__main__.py rxg_node /home/pi/rxg_cfg.json
Restart=always

[Install]
WantedBy=multi-user.target
